      <!---------------------- Nav ---------------------->
      <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid">
            <i id="rocket" class="fas fa-rocket mx-3 fa-2x"></i>
          <a class="navbar-brand" href="/homepage">Ticketac</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav flex-column flex-sm-row">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/users/logout"> <i class="fas fa-sign-out-alt"> </i>  Log out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-3" href="/my-last-trips">My lasts trips</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


      
